.app.dark {
  --bg-color: grey;
  --inverted-bg-color: white;
  --primary-color: white;
  --secondary-color: rgba(128, 128, 128, 0.221);
  --inverted-primary-color: black;
  --inverted-secondary-color: rgba(128, 128, 128, 0.946);
}